RUST_LOG=debug,sea_orm=info,sqlx=warn
DATABASE_URL=postgresql://localhost:5432/local
S3_BUCKET_NAME=local
S3_BUCKET_REGION=local
S3_BUCKET_ENDPOINT=http://localhost:8081
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_SESSION_TOKEN=local
ADMIN_PASSWORD=dev
PAYNOW_API_KEY=
PAYNOW_STORE_ID=
PAYNOW_WEBHOOK_SECRET=
PAYNOW_RETURN_URL=
PAYNOW_CANCEL_URL=
RENDER_SERVICE_URL=http://127.0.0.1:8090
CORS_ORIGINS=https://plus-admin.polyfrost.org,http://localhost:3000,https://store.polyfrost.org

OIDC_ISSUER=https://plus-local.lun.re
SPECIAL_CHAT_TARGETS=
SPECIAL_CHAT_AUTO_REPLY=